* {
	box-sizing: border-box;
}
html {
	overflow: hidden;
}
body {
	margin: 0;
}
.wrap {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.wrap .start {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #f9faec, #eefff9);
	background-size: 100% 100%;
}
.wrap .polygon-wrap {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
}
/* .polygon-item {
	margin: 0 20px;
} */
.polygon-item svg {
	width: 100%;
}
text {
	font-size: 12px;
}


.wrap .end {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('') no-repeat;
	background-size: 100% 100%;
}
.end-img-wrap {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}
.end-img-wrap img {
	display: block;
	margin: 0 auto;
}

@media screen and (orientation: landscape) {
  .wrap .start {
		background: url('') no-repeat;
		background-size: 100% 100%;
	}
	.start-gif {
		background: url('') no-repeat;
		background-size: 100% 100%;
	}
}